<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!--
    *** IMPORTANT ***

    This installer source is only for testing.
    DO NOT USE to build installers for release.

    *** IMPORTANT ***
  -->

  <!--
    Place `kritashellex32.dll` and `kritashellex64.dll` in this dir.
    Use `candle.exe` then `light.exe` to build the installer.

    You will get several "error ICE80"s when running `light.exe`,
    but this is normal and you can still use the output msi file.
    This error happens because we are essentially mixing 32-bit stuff
    and 64-bit stuff together. We'll need to check if we should be
    placing the 32-bit dll under `Program Files (x86)`.
    We may actually need to build two merge modules for the 32-bit
    and 64-bit ones separatedly so that they can be shared between
    the 32-bit and 64-bit krita installer.
    We also need to decid what to do in case some users try to
    install the 32-bit Krita on a 64-bit Windows system.
  -->

  <!-- The CLSIDs for the different shell extension classes -->
  <?define KRITASHELLEX_CLSID_THUMBNAILPROVIDER="{C6806289-D605-4AFE-A778-BC584303DB9A}" ?>
  <?define KRITASHELLEX_CLSID_PROPERTYHANDLER="{C8E5509D-6F68-480C-8A41-DB64AECE94C6}" ?>

  <Product Name="Krita Shell Extension Test"
           Manufacturer="Alvin Wong"
           Id="{DFC99E67-DB3F-4D25-8E95-47EAED85DC3D}"
           UpgradeCode="{5A8304F0-4B79-40C8-9B6E-52C9E69332F2}"
           Version="1.1.0"
           Language="1033">
    <Package Id="*"
             Keywords="Installer"
             Description="Krita Shell Extension 1.1.0 Test Installer"
             Comments="Krita Shell Extension 1.1.0"
             Manufacturer="Alvin Wong"
             Platform="x64"
             InstallerVersion="200"
             Languages="1033"
             Compressed="yes"/>
    <Media Id="1" Cabinet="files.cab" EmbedCab="yes"/>
    <Condition Message="This component only supports Windows Vista or above.">
      <![CDATA[Installed OR (VersionNT64 >= 600)]]>
    </Condition>
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id="ProgramFiles64Folder" Name="PFiles">
        <!-- <Directory Id="KRITADIR" Name="Krita (x64)"> -->
        <Directory Id="CALLIGRADIR" Name="Krita (x64)">
          <Directory Id="KRITASHELLEXDIR" Name="shellex">

            <!-- The 64-bit version of the shell extension -->
            <Component Id="KritaShellEx64" Guid="{BA8339BB-2FE0-4BAC-BA84-169B6DDCC051}" Win64="yes">
              <File Id="KritaShellEx64DLL" Name="kritashellex64.dll" DiskId="1" Source="kritashellex64.dll" KeyPath="yes">
                <Class Id="$(var.KRITASHELLEX_CLSID_THUMBNAILPROVIDER)" Context="InprocServer32" Description="Krita Thumbnail Provider" ThreadingModel="apartment" />
                <Class Id="$(var.KRITASHELLEX_CLSID_PROPERTYHANDLER)" Context="InprocServer32" Description="Krita Property Handler" ThreadingModel="apartment" />
              </File>
              <!-- This has separated registry nodes for sysnative and syswow64 -->
              <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\PropertySystem\PropertyHandlers\.kra" Type="string" Value="$(var.KRITASHELLEX_CLSID_PROPERTYHANDLER)"/>
            </Component>

            <!-- The 32-bit version of the shell extension -->
            <Component Id="KritaShellEx32" Guid="{29542E10-C809-4054-B4B1-8C6E99C1417E}" Win64="no">
              <File Id="KritaShellEx32DLL" Name="kritashellex32.dll" DiskId="1" Source="kritashellex32.dll" KeyPath="yes">
                <Class Id="$(var.KRITASHELLEX_CLSID_THUMBNAILPROVIDER)" Context="InprocServer32" Description="Krita Thumbnail Provider" ThreadingModel="apartment" />
                <Class Id="$(var.KRITASHELLEX_CLSID_PROPERTYHANDLER)" Context="InprocServer32" Description="Krita Property Handler" ThreadingModel="apartment" />
              </File>
              <!-- This has separated registry nodes for sysnative and syswow64 -->
              <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\PropertySystem\PropertyHandlers\.kra" Type="string" Value="$(var.KRITASHELLEX_CLSID_PROPERTYHANDLER)"/>
            </Component>

            <!-- Registry values shared between sysnative and syswow64 -->
            <Component Id="FileAssocChanges" Guid="{3EA2F730-C5D0-409D-8A63-23B1131007E8}">
              <!-- FIXME: These should probably be placed together with the Krita ProgId registration stuff -->
              <RegistryValue Root="HKCR" Key=".kra\shellex\{E357FCCD-A995-4576-B01F-234630154E96}" Type="string" Value="$(var.KRITASHELLEX_CLSID_THUMBNAILPROVIDER)"/>
              <RegistryValue Root="HKCR" Key=".kra" Name="PerceivedType" Type="string" Value="Image"/>
              <!-- FIXME: Set the ProgId to a variable instead of duplicating it multiple times -->
              <!-- Properties -->
              <RegistryValue Root="HKCR" Key="Krita.Document" Name="PreviewDetails" Type="string" Value="prop:System.DateModified;System.Size;System.DateCreated;*System.Image.Dimensions;*System.OfflineAvailability;*System.OfflineStatus;*System.SharedWith"/>
              <RegistryValue Root="HKCR" Key="Krita.Document" Name="InfoTip" Type="string" Value="prop:System.ItemTypeText;System.Image.Dimensions;*System.Size;System.DateModified"/>
              <RegistryValue Root="HKCR" Key="Krita.Document" Name="FullDetails" Type="string" Value="prop:System.Image.Dimensions;System.Image.HorizontalSize;System.Image.VerticalSize;System.Image.HorizontalResolution;System.Image.VerticalResolution;System.PropGroup.FileSystem;System.ItemNameDisplay;System.ItemTypeText;System.ItemFolderPathDisplay;System.Size;System.DateCreated;System.DateModified;System.FileAttributes;*System.OfflineAvailability;*System.OfflineStatus;*System.SharedWith;*System.FileOwner;*System.ComputerName"/>
              <!-- FIXME: Reference actual installed path to krita.exe -->
              <RegistryValue Root="HKCR" Key="Krita.Document" Name="TypeOverlay" Type="string" Value="&quot;C:\Program Files\Krita (x64)\bin\krita.exe&quot;,0"/>
            </Component>

          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="KritaShellExFeature"
             Level="1"
             Title="Windows Explorer integration (Shell Extension)"
             Description="Install components to provide thumbnails and file properties display for Krita files.">
      <ComponentRef Id="KritaShellEx64"/>
      <ComponentRef Id="KritaShellEx32"/>
      <ComponentRef Id="FileAssocChanges"/>
    </Feature>
  </Product>
</Wix>
